<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins//layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/plugins/layui/layui.js"></script>
    <style type="text/css">
        .header span{background: #009688; margin-left: 30px; padding: 10px; color: #ffffff;}
        .header div{border-bottom: solid 2px #009688; margin-top: 8px;}
        .header button{float: right; margin-top: -5px;}
    </style>
</head>
<body style="padding: 10px">
<div class="header">
    <span>管理员</span>
    <button class="layui-btn layui-btn-sm" onclick="add()">添加</button>
    <div></div>
</div>

<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>作者</th>
        <th>类型</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    <tbody>
    {volist name="data.article" id='vo'}
    <tr>
        <td>{$vo.aid}</td>
        <td>{$vo.title}</td>
        <td>{$vo.author}</td>
        <td>{:isset($data['type'][$vo.tid])?$data['type'][$vo.tid]['title']:''}</td>
        <td>{$vo.status==0?'正常':'<span style="color: red;">禁用</span>'}</td>
        <td>{:date('Y-m-d H:i:s', $vo.add_time)}</td>
        <td><button class="layui-btn layui-btn-normal layui-btn-xs" onclick="look({$vo.aid})">查看</button>
            <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="del({$vo.aid})">删除</button>
        </td>
    </tr>
    {/volist}
    </tbody>
    </thead>
</table>

<script type="text/javascript">
    layui.use(['layer'], function () {
        layer = layui.layer;
        $ = layui.jquery;
    });
    
    //查看
    function look(id) {
        window.location.href="/admins.php/admins/article/look?id="+id;
    }

    // 添加编辑管理员
    function add(id) {
        layer.open({
            type: 2,
            title: id>0?'编辑文章':'添加文章',
            shade: 0.3,
            area: ['1000px', '700px'],
            content: '/admins.php/admins/article/add?id='+id
        });
    }

    function del(id) {
        layer.confirm('确定要删除吗？', {
            icon:3
            ,btn: ['确定','取消'] //按钮
        }, function(){
            $.post('/admins.php/admins/article/delete',{'id':id},function (res) {
                if (res.code > 0){
                    layer.alert(res.msg, {'icon':2});
                } else {
                    layer.msg(res.msg, {'icon':1});
                    setTimeout(function () {window.location.reload();}, 1000);
                }
            },'json');
        });
    }

    function showCustomer(str)
    {
        var xmlhttp;
        if (str=="")
        {
            document.getElementById("txtHint").innerHTML="";
            return;
        }
        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
            }
        }
        xmlhttp.open("GET","/ajax/getcustomer.asp?q="+str,true);
        xmlhttp.send();
    }

</script>
</body>
</html>