<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基地主页</title>
    <script src="js/jquery.min.js"></script>
    <script src="__STATIC__/plugins/js/jquery_flexslider.js"></script>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/plugins/css/timeline.css">
	<link rel="stylesheet" href="__STATIC__/plugins/css/index.css">
    <link rel="stylesheet" href="__STATIC__/plugins/css/menu.css">
</head>
	<style type="text/css">
	
		#demo1{
			width: 80%;
			height:600px;
			background: url(__STATIC__/plugins/img/info_bac.jpg);
			-webkit-mask-image:url(__STATIC__/plugins/img/info-bac2.jpg);
;		}
	</style>
<body style="background: #FDFAFA">
<div id="menu">
    <span>基地建设</span>
    <ul class="list1">
        <li><a href="index.html">首页</a></li>
        <li><a href="service.html">学习服务</a></li>
        <li><a href="news.html">动态要闻</a></li>
        <li><a href="timecard.html">考勤</a></li>
    </ul>
</div>
<div id="contain">
 <div id="intro">

   <div class="intro-text">
       <div class="intro-text1">
       <div style="margin-left: 150px;width: 1100px"> 成立于2011年11月30日，以“倡导科技创新，投身创新实践”为理念指导学生进行创新实践。</div></br>
       <div style="margin-left: 100px;width:1200px;"> 由一群有激情、有活力、敢闯敢拼的小伙伴组成，成立以来荣获奖项数项。</div></br>
       <div style="margin-left: 50px;width:1300px;">只要你敢想敢做，我们就给你提供平台，欢迎加入我们！</div>
       </div>
   </div>
     <div class="intro-title">
         <div style="margin: auto;width:inherit">

             <div class="intro-title1">广西师范大学育才校区</div>
             <div class="intro-title1">机器人创新基地</div>
         </div>

     </div>
 </div>
 <div id="progress">
        <div class="about-history" id="fzlc">
            <header class="about-title title-white">
                <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">发展历程</h3>
                <p class="wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">HISTORY</p>
            </header>

            <div class="about-history-list wow zoomIn" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides clearfix list" style="width: 2600%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                        <li style=" float: left; display: block;">
                            <div class="item">
                                <h3>2019</h3>
                                <div class="desc">
                                    <p >第二届智能机器人创意大赛:</p>
                                    斩获一等奖一项<br>
                                    斩获三等奖两项<br>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; display: block;">
                            <div class="item">
                                <h3>2018</h3>
                                <div class="desc">
                                    <p >机器人格斗大赛:</p>
                                    斩获冠军、二等奖各两项<br>
                                    斩获一等奖六项<br>
                                    斩获三等奖一项<br>
                                </div>
                            </div>
                        </li>

                        <li style=" float: left; display: block;">
                            <div class="item">
                                <h3>2017</h3>
                                <div class="desc">
                                    <p >机器人格斗大赛:</p>
                                    斩获一等奖一项<br>
                                    斩获二等奖一项<br>
                                    斩获三等奖两项<br>
                                </div>
                            </div>
                        </li>
                        <li style="float: left; display: block;">
                            <div class="item">
                                <h3>2016</h3>
                                <div class="desc">
                                    <p >机器人格斗大赛:</p>
                                    斩获一等奖两项<br>
                                    斩获三等奖两项<br>
                                    基地秦运柏老师被评为优秀指导老师<br>
                                </div>
                            </div>
                        </li>

                        <li style="float: left; display: block; width: 400px !important;">
                            <div class="item">
                                <h3>2013</h3>
                                <div class="desc">

                                    <p>仿人机器人竞速比赛:</p>标准组项目斩获二等奖<br>
                                    <p> 机器人武术擂台赛:</p>规定动作技术挑战项目斩获二等奖<br>
                                    <p>第八届全国信息技术应用水平大赛:</p>机械装备制造综合技能团体赛斩获二等奖
                                </div>
                            </div>
                        </li>

                        <li style=" float: left; display: block;">
                            <div class="item">
                                <h3>2011</h3>
                                <div class="desc">
                                    <p style="color: #990000">2011年11月30日基地成立啦<p>
                                    <p>机器人武术擂台赛:</p>规定动作技术挑战项目获二等奖
                                    <p>微软（MS）机器人舞台擂台赛:</p>仿真项目中获亚军 <br>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#">&lt;</a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
<div id="news">
       <div class="bg-txt">INFORMATION</div>
        <div class="news-title">
            <header class="about-title title-white">
                <h3 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;padding-left: 55px;">动态新闻</h3>
                <p class="wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">INFORMATION</p>
            </header>
        </div>

        <div class="info">
            <a href="">
                <article class="info-box">

                        <span class="time">2019.07.10  </span>
                        <span class="type">NEWS</span>
                        <span class="content">机器人大赛通知</span>
                        <span class="sign">></span>
                </article>
            </a>
            <a href="">
                <article class="info-box">

                        <span class="time"> 2019.07.13  </span>
                        <span class="type">NEWS</span>
                        <span class="content">机器人大赛通知</span>
                        <span class="sign">></span>
                </article>
            </a>
            <a href="">
                <article class="info-box">

                        <span class="time">2019.07.16 </span>
                        <span class="type">NEWS</span>
                        <span class="content">机器人大赛通知</span>
                        <span class="sign">></span>
                </article>
            </a>
            <a href="news.html">
                <article style="height:inherit;line-height: 30px;text-align: center">more</article>
            </a>
        </div>
    </div>
</div>
<div id="end">
    
</div>
<script src="layui/layui.js" charset="utf-8"></script>
<script src="js/index.js" charset="utf-8"></script>
<script>
    $(function(){
        if((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))){
            //phone
        }else{
            //PC
            $(".about-history-list").flexslider({animation:"slide",slideshow:false,controlNav:false,itemWidth:350,itemMargin:40,prevText:"<",nextText:">",move:1});
        }
    });


</script>
</body>
</html> 